<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>MediSync</title>
</head>

<body>


    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
          <div> <a href="#" class="nav_logo"><img src="./images/logowhite-01.png" alt=""></a>
            <div class="nav_list">
              <a href="./index.html" class="nav_link"> <img src="./images/Group 36.png" alt="" width="15px"> <span
                  class="nav_name">Dashboard</span> </a>
              <a href="./listPatientsAppointment.html" class="nav_link"> <img src="./images/Layer_1.png" alt="" width="15px"> <span
                  class="nav_name">Patient</span> </a>
              <a href="#" class="nav_link"> <img src="./images/Group 2.png" alt="" width="15px"> <span
                  class="nav_name">Doctors</span> </a>
              <a href="./blood.html" class="nav_link active"> <img src="./images/Vector.png" alt="" width="10px"> <span
                  class="nav_name">Blood</span> </a>
              <a href="#" class="nav_link"> <img src="./images/Layer_1 (1).png" alt="" width="20px"> <span
                  class="nav_name">Ambulance</span> </a>
              <a href="./blog.html" class="nav_link"> <img src="./images/Group 36.png" alt="" width="15px"> <span
                  class="nav_name">Blogs</span> </a>
            </div>
          </div> <a href="./website.html" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
              class="nav_name">Logout</span>
          </a>
        </nav>
      </div>
    
      <div class="profile">
        <div class="name">Shraddha</div>
        <img src="./images/shraddha.jpg" alt="" width="45x" height="45px"
          style="border-radius: 50%; border: 0.5px solid #d9d9d9;">
      </div>


  <form th:action="@{/patients}" th:object="${patient}" method="POST">
  			<!-- we have used the "${patient}" vanne object name in PatientController-->
    <div class="opening" id="form-title">
      <h4>Add <span style="color: var(--secondary-color);">Blood</span> Details</h4>
    </div>
    <br>
    
    <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Hospital Name</label>
        <input type="text" class="form-control sub-heading" id="exampleInputEmail1" width="100"
          th:field="*{hospitalName}" placeholder="Enter Hospital Name" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-2">
        <label for="exampleName" class="form-label">Contact No.</label>
        <input type="number" class="form-control sub-heading" id="exampleInputName" width="100"
          th:field="*{contact}" placeholder="Enter contact details" required>
      </div>
      <div class="mb-2">
        <label for="exampleName" class="form-label">Location</label>
        <input type="text" class="form-control sub-heading" id="exampleInputName" width="100"
          th:field="*{location}" placeholder="Enter location" required>
      </div>
     
    
    <button type="submit" ><a href ="./admin-ambulance.html" style="color: #fff; text-decoration: none;">Save</a></button>
    

    </div>

  </form>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script> 
  <script src="index.js"></script>
</body>


</html>